<div *ngIf="trace$ | async as trace">
<plotly-plot  [data]="[trace]" [layout]="graph.layout" [useResizeHandler]="true" [style]="{position: 'relative', width: '100%', height: '100%'}"></plotly-plot>
</div>

<div *ngIf="bpm$ | async as bpm">
   <plotly-plot   [data]="[bpm]" [layout]="graph2.layout"  [useResizeHandler]="true" [style]="{position: 'relative', width: '100%', height: '100%'}"></plotly-plot>
   </div>

<!--
<h1> ITEMS: </h1>
<ul>
    <li *ngFor="let item of items | async">
       {{ item | json }}
    </li>
  </ul>
-->